# ignore sublime text project file
*sublime-*
.idea/*
# ignore anything in tmp folder
tmp/*

# ignore local ansible.cfg
ansible.cfg

# ignore site.yml
site.yml

# ignore hosts
hosts

# assume an host vars in the 192.168.88.x range are local vm's.
host_vars/192.168.88.*