[submodule "roles/aspects_ufw"]
	path = roles/aspects_ufw
	url = git@github.com:LaneCommunityCollege/aspects_ufw.git
[submodule "roles/aspects_cron"]
	path = roles/aspects_cron
	url = git@github.com:LaneCommunityCollege/aspects_cron.git
[submodule "roles/aspects_mysql_client"]
	path = roles/aspects_mysql_client
	url = git@github.com:LaneCommunityCollege/aspects_mysql_client.git
[submodule "roles/aspects_ntp_client"]
	path = roles/aspects_ntp_client
	url = git@github.com:LaneCommunityCollege/aspects_ntp_client.git
[submodule "roles/aspects_common_packages"]
	path = roles/aspects_common_packages
	url = git@github.com:LaneCommunityCollege/aspects_common_packages.git
[submodule "roles/aspects_sudo"]
	path = roles/aspects_sudo
	url = git@github.com:LaneCommunityCollege/aspects_sudo.git
[submodule "roles/aspects_apache2"]
	path = roles/aspects_apache2
	url = git@github.com:LaneCommunityCollege/aspects_apache2.git
[submodule "roles/aspects_logstash"]
	path = roles/aspects_logstash
	url = git@github.com:LaneCommunityCollege/aspects_logstash.git
[submodule "roles/aspects_elasticsearch"]
	path = roles/aspects_elasticsearch
	url = git@github.com:LaneCommunityCollege/aspects_elasticsearch.git
[submodule "roles/aspects_logrotate"]
	path = roles/aspects_logrotate
	url = git@github.com:LaneCommunityCollege/aspects_logrotate.git
[submodule "roles/aspects_oracle_java"]
	path = roles/aspects_oracle_java
	url = git@github.com:LaneCommunityCollege/aspects_oracle_java.git
[submodule "roles/aspects_local_users"]
	path = roles/aspects_local_users
	url = git@github.com:LaneCommunityCollege/aspects_local_users.git
[submodule "roles/aspects_openssh"]
	path = roles/aspects_openssh
	url = git@github.com:LaneCommunityCollege/aspects_openssh.git
[submodule "roles/aspects_unattended_upgrades"]
	path = roles/aspects_unattended_upgrades
	url = git@github.com:LaneCommunityCollege/aspects_unattended_upgrades.git
[submodule "roles/aspects_yum_cron"]
	path = roles/aspects_yum_cron
	url = git@github.com:LaneCommunityCollege/aspects_yum_cron.git
[submodule "roles/aspects_mysql_server"]
	path = roles/aspects_mysql_server
	url = git@github.com:LaneCommunityCollege/aspects_mysql_server.git
[submodule "roles/aspects_logstash_forwarder"]
	path = roles/aspects_logstash_forwarder
	url = git@github.com:LaneCommunityCollege/aspects_logstash_forwarder.git
[submodule "roles/aspects_logwatch"]
	path = roles/aspects_logwatch
	url = git@github.com:LaneCommunityCollege/aspects_logwatch.git
[submodule "roles/aspects_monit"]
	path = roles/aspects_monit
	url = git@github.com:LaneCommunityCollege/aspects_monit.git
