# {{ ansible_managed }}
# /etc/ntp.conf, configuration for ntpd; see ntp.conf(5) for help

driftfile {{ ntp_client_driftfile }}

{% if ntp_client_stats.enabled %}
statsdir {{ ntp_client_stats.statsdir }}
statistics {{ ntp_client_stats.statistics_line }}
{% for line in ntp_client_stats.statistics_filegen %}
{{ line }}
{% endfor %}
{% endif %}

{% for server in ntp_client_servers %}
server {{ server }}
{% endfor %}

{% for restrict in ntp_client_restrict %}
restrict {{ restrict }}
{% endfor %}