<?php
/**************************************************
 * THIS FILE IS MANAGED BY ANSIBLE. CHANGES WILL BE
 * OVERWRITTEN NEXT TIME ANSIBLE IS RUN.
 * {{ ansible_managed }}
 **************************************************/
$CONFIG = array (

);