<?php
/**************************************************
 * THIS FILE IS MANAGED BY ANSIBLE. CHANGES WILL BE
 * OVERWRITTEN NEXT TIME ANSIBLE IS RUN.
 **************************************************/

/* Only enable this for local development and not in productive environments */
/* This will disable the minifier and outputs some additional debug informations */
define("DEBUG", {{ item[1].config.debug }});

$CONFIG = array(
/* Flag to indicate ownCloud is successfully installed (true = installed) */
"installed" => {{ item[1].config.installed }},

/* Type of database, can be sqlite, mysql or pgsql */
"dbtype" => "{{ item[1].config.dbtype }}",

/* Name of the ownCloud database */
"dbname" => "{{ item[1].config.dbname }}",

/* User to access the ownCloud database */
"dbuser" => "{{ item[1].config.dbuser }}",

/* Password to access the ownCloud database */
"dbpassword" => "{{ item[1].config.dbpassword }}",

/* Host running the ownCloud database */
"dbhost" => "{{ item[1].config.dbhost }}",

/* Prefix for the ownCloud tables in the database */
"dbtableprefix" => "{{ item[1].config.dbtableprefix }}",

/* Define the salt used to hash the user passwords. All your user passwords are lost if you lose this string. */
"passwordsalt" => "{{ item[1].config.passwordsalt }}",

/* Force use of HTTPS connection (true = use HTTPS) */
"forcessl" => {{ item[1].config.forcessl }},

/* Blacklist a specific file and disallow the upload of files with this name - WARNING: USE THIS ONLY IF YOU KNOW WHAT YOU ARE DOING. */
"blacklisted_files" => array({{ item[1].config.blacklisted_files }}),

/* The automatic hostname detection of ownCloud can fail in certain reverse proxy situations. This option allows to manually override the automatic detection. You can also add a port. For example "www.example.com:88" */
"overwritehost" => "{{ item[1].config.overwritehost }}",

/* The automatic protocol detection of ownCloud can fail in certain reverse proxy situations. This option allows to manually override the protocol detection. For example "https" */
"overwriteprotocol" => "{{ item[1].config.overwriteprotocol }}",

/* The automatic webroot detection of ownCloud can fail in certain reverse proxy situations. This option allows to manually override the automatic detection. For example "/domain.tld/ownCloud" */
"overwritewebroot" => "{{ item[1].config.overwritewebroot }}",

/* The automatic detection of ownCloud can fail in certain reverse proxy situations. This option allows to define a manually override condition as regular expression for the remote ip address. For example "^10\.0\.0\.[1-3]$" */
"overwritecondaddr" => "{{ item[1].config.overwritecondaddr }}",

/* A proxy to use to connect to the internet. For example "myproxy.org:88" */
"proxy" => "{{ item[1].config.proxy }}",

/* The optional authentication for the proxy to use to connect to the internet. The format is: [username]:[password] */
"proxyuserpwd" => "{{ item[1].config.proxyuserpwd }}",

/* List of trusted domains, to prevent host header poisoning ownCloud is only using these Host headers */
'trusted_domains' => array({{ item[1].config.trusted_domains }}),

/* Theme to use for ownCloud */
"theme" => "{{ item[1].config.theme }}",

/* Optional ownCloud default language - overrides automatic language detection on public pages like login or shared items. This has no effect on the user's language preference configured under "personal -> language" once they have logged in */
"default_language" => "{{ item[1].config.default_language }}",

/* Path to the parent directory of the 3rdparty directory */
"3rdpartyroot" => "{{ item[1].config.thirdpartyroot }}",

/* URL to the parent directory of the 3rdparty directory, as seen by the browser */
"3rdpartyurl" => "{{ item[1].config.thirdpartyurl }}",

/* Default app to load on login */
"defaultapp" => "{{ item[1].config.defaultapp }}",

/* Enable the help menu item in the settings */
"knowledgebaseenabled" => {{ item[1].config.knowledgebaseenabled }},

/* Enable installing apps from the appstore */
"appstoreenabled" => {{ item[1].config.appstoreenabled }},

/* URL of the appstore to use, server should understand OCS */
"appstoreurl" => "{{ item[1].config.appstoreurl }}",

/* Domain name used by ownCloud for the sender mail address, e.g. no-reply@example.com */
"mail_domain" => "{{ item[1].config.mail_domain }}",

/* Enable SMTP class debugging */
"mail_smtpdebug" => {{ item[1].config.mail_smtpdebug }},

/* Mode to use for sending mail, can be sendmail, smtp, qmail or php, see PHPMailer docs */
"mail_smtpmode" => "{{ item[1].config.mail_smtpmode }}",

/* Host to use for sending mail, depends on mail_smtpmode if this is used */
"mail_smtphost" => "{{ item[1].config.mail_smtphost }}",

/* Port to use for sending mail, depends on mail_smtpmode if this is used */
"mail_smtpport" => {{ item[1].config.mail_smtpport }},

/* SMTP server timeout in seconds for sending mail, depends on mail_smtpmode if this is used */
"mail_smtptimeout" => {{ item[1].config.mail_smtptimeout }},

/* SMTP connection prefix or sending mail, depends on mail_smtpmode if this is used.
   Can be '', ssl or tls */
"mail_smtpsecure" => "{{ item[1].config.mail_smtpsecure }}",

/* authentication needed to send mail, depends on mail_smtpmode if this is used
 * (false = disable authentication)
 */
"mail_smtpauth" => {{ item[1].config.mail_smtpauth }},

/* authentication type needed to send mail, depends on mail_smtpmode if this is used
 * Can be LOGIN (default), PLAIN or NTLM */
"mail_smtpauthtype" => "{{ item[1].config.mail_smtpauthtype }}",

/* Username to use for sendmail mail, depends on mail_smtpauth if this is used */
"mail_smtpname" => "{{ item[1].config.mail_smtpname }}",

/* Password to use for sendmail mail, depends on mail_smtpauth if this is used */
"mail_smtppassword" => "{{ item[1].config.mail_smtppassword }}",

/* memcached hostname and port (Only used when xCache, APC and APCu are absent.) */
"memcached_server" => array('{{ item[1].config.memcached_server_host }}', {{ item[1].config.memcached_server_port }}),

/* How long should ownCloud keep deleted files in the trash bin, default value:  30 days */
'trashbin_retention_obligation' => {{ item[1].config.trashbin_retention_obligation }},

/* Disable/Enable auto expire for the trash bin, by default auto expire is enabled */
'trashbin_auto_expire' => {{ item[1].config.trashbin_auto_expire }},

/* allow user to change his display name, if it is supported by the back-end */
'allow_user_to_change_display_name' => {{ item[1].config.allow_user_to_change_display_name }},

/* Check 3rdparty apps for malicious code fragments */
"appcodechecker" => "{{ item[1].config.appcodechecker }}",

/* Check if ownCloud is up to date */
"updatechecker" => {{ item[1].config.updatechecker }},

/* Are we connected to the internet or are we running in a closed network? */
"has_internet_connection" => {{ item[1].config.has_internet_connection }},

/* Check if the ownCloud WebDAV server is working correctly. Can be disabled if not needed in special situations*/
"check_for_working_webdav" => {{ item[1].config.check_for_working_webdav }},

/* Check if .htaccess protection of data is working correctly. Can be disabled if not needed in special situations*/
"check_for_working_htaccess" => {{ item[1].config.check_for_working_htaccess }},

/* Place to log to, can be owncloud and syslog (owncloud is log menu item in admin menu) */
"log_type" => "{{ item[1].config.log_type }}",

/* File for the owncloud logger to log to, (default is ownloud.log in the data dir) */
"logfile" => "{{ item[1].config.logfile }}",

/* Loglevel to start logging at. 0=DEBUG, 1=INFO, 2=WARN, 3=ERROR (default is WARN) */
"loglevel" => "{{ item[1].config.loglevel }}",

/* date format to be used while writing to the owncloud logfile */
'logdateformat' => '{{ item[1].config.logdateformat }}',

/* timezone used while writing to the owncloud logfile (default: UTC) */
'logtimezone' => '{{ item[1].config.logtimezone }}',

/* Append all database queries and parameters to the log file.
 (watch out, this option can increase the size of your log file)*/
"log_query" => {{ item[1].config.log_query }},

/* Enable or disable the logging of IP addresses in case of webform auth failures */
"log_authfailip" => {{ item[1].config.log_authfailip }},

/*
 * Configure the size in bytes log rotation should happen, 0 or false disables the rotation.
 * This rotates the current owncloud logfile to a new name, this way the total log usage
 * will stay limited and older entries are available for a while longer. The
 * total disk usage is twice the configured size.
 * WARNING: When you use this, the log entries will eventually be lost.
 */
'log_rotate_size' => {{ item[1].config.log_rotate_size }}, // 104857600, // 100 MiB

/* Lifetime of the remember login cookie, default is 15 days */
"remember_login_cookie_lifetime" => {{ item[1].config.remember_login_cookie_lifetime }},

/* Life time of a session after inactivity */
"session_lifetime" => {{ item[1].config.session_lifetime }},

/*
 * Enable/disable session keep alive when a user is logged in in the Web UI.
 * This is achieved by sending a "heartbeat" to the server to prevent
 * the session timing out.
 */
"session_keepalive" => {{ item[1].config.session_keepalive }},

/* Custom CSP policy, changing this will overwrite the standard policy */
"custom_csp_policy" => "{{ item[1].config.custom_csp_policy }}",

/* Enable/disable X-Frame-Restriction */
/* HIGH SECURITY RISK IF DISABLED*/
"xframe_restriction" => {{ item[1].config.xframe_restriction }},

/* The directory where the user data is stored, default to data in the owncloud
 * directory. The sqlite database is also stored here, when sqlite is used.
 */
"datadirectory" => "{{ item[1].config.datadirectory }}",

/* Enable maintenance mode to disable ownCloud
   If you want to prevent users to login to ownCloud before you start doing some maintenance work,
   you need to set the value of the maintenance parameter to true.
   Please keep in mind that users who are already logged-in are kicked out of ownCloud instantly.
*/
"maintenance" => {{ item[1].config.maintenance }},

"apps_paths" => array(

/* Set an array of path for your apps directories
 key 'path' is for the fs path and the key 'url' is for the http path to your
 applications paths. 'writable' indicates whether the user can install apps in this folder.
 You must have at least 1 app folder writable or you must set the parameter 'appstoreenabled' to false
*/
    array(
        'path'=> '/var/www/owncloud/apps',
        'url' => '/apps',
        'writable' => true,
    ),
),
'user_backends'=>array(
    array(
        'class'=>'OC_User_IMAP',
        'arguments'=>array('{imap.gmail.com:993/imap/ssl}INBOX')
    )
),
//links to custom clients
'customclient_desktop' => '{{ item[1].config.customclient_desktop }}', //http://owncloud.org/sync-clients/
'customclient_android' => '{{ item[1].config.customclient_android }}', //https://play.google.com/store/apps/details?id=com.owncloud.android
'customclient_ios' => '{{ item[1].config.customclient_ios }}', //https://itunes.apple.com/us/app/owncloud/id543672169?mt=8

// PREVIEW
'enable_previews' => {{ item[1].config.enable_previews }},
/* the max width of a generated preview, if value is null, there is no limit */
'preview_max_x' => {{ item[1].config.preview_max_x }},
/* the max height of a generated preview, if value is null, there is no limit */
'preview_max_y' => {{ item[1].config.preview_max_y }},
/* the max factor to scale a preview, default is set to 10 */
'preview_max_scale_factor' => {{ item[1].config.preview_max_scale_factor }},
/* custom path for libreoffice / openoffice binary */
'preview_libreoffice_path' => '{{ item[1].config.preview_libreoffice_path }}',
/* cl parameters for libreoffice / openoffice */
'preview_office_cl_parameters' => '{{ item[1].config.preview_office_cl_parameters }}',

/* whether avatars should be enabled */
'enable_avatars' => {{ item[1].config.enable_avatars }},

// Extra SSL options to be used for configuration
'openssl' => array({{ item[1].config.openssl }}),

/* whether usage of the instance should be restricted to admin users only */
'singleuser' => {{ item[1].config.singleuser }},
);